@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292A2F;
    --foreground: #ededed;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: #35353d;
  height: 20rem;
  border-radius: 24px;
  padding: 2.4rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.icon-wrapper {
  background-color: #292A2F;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #292A2F;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.95rem;
  color: #939090;
  line-height: 1.5;
  opacity: 0.85;
  max-width: 16rem;
}